<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
		<thead>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nit</th>
			<th>Fecha</th>
			<th>Importancia</th>
			
		</thead>
               <tbody>
                	<th:block th:each="contribuyente, row:${contribuyentes}">
                	<tr th:each="v : ${contribuyente}">
                		<td th:text="${v.c_contribuyente}"></td>                	
                		<td th:text="${v.s_nombre}"></td>
                		<td th:text="${v.s_apellido}"></td>
                		<td th:text="${v.s_nit}"></td>
                		<td th:text="${v.f_fecha_ingreso}"></td>
                		<td th:text="${v.importancia.s_importancia}"></td>
                	</tr>
                	</th:block>
                </tbody>
	</table>
</body>
</html>